@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;

}

.container input {
    box-sizing: border-box;
    width: 40vw;
    height: 90px;
    padding: 30px;
    background-color: #ebebeb;
    color: rgb(22, 22, 22);
    border: 3px solid #d3d3d3;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'IBM Plex Mono', monospace !important;
    font-weight: 500;

    &:focus {
        outline: none;
        border-color: #818181;
    }
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.container Button {
    width: 40vw;
    height: 80px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 500;
}

.container p {
    font-size: 24px;
    color: #505050;
}

.container p a {
    color: #242424;
    text-decoration: none;
    font-weight: 600;
}


