.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 10px 60px;
    position: absolute;
    width: 100vw;
    z-index: 999;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo span {
    font-size: 25px;
    font-weight: 600;
    color: #222222;
}

a {
    text-decoration: none;
    color: #fafafa;
}

@media (max-width: 700px) {
    .header{
        overflow: hidden;
        width: 100%;
        padding: 0;
    }
    .logo{
        scale: .7;
    }
    button{
        scale: .7;
    }
}