.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/star-bg.jpg');
    background-size: cover;
    background-position: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;

}

.resultBox {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 530px;
    padding: 50px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left h1 {
    /* margin-top: 150px; */
    font-size: 40px;
    margin-left: 0;
    margin-bottom: 10px;
    color: #2e2e2e;
}


.left .topic {
    width: 70%;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 16px;
    color: rgb(61, 61, 61);
    text-align: left;
}
.left .feedback {
    width: 70%;
    margin-bottom: 50px;
    margin-left: 3px;
    font-size: 16px;
    color: rgb(95, 95, 95);
    text-align: left;
}


.left>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.scoreCircle{
    font-size: 20px;
    z-index: 2;
    position: absolute;
    margin: auto;
}

.scoreCircle span{
    font-size: 60px;
    font-weight: 500;
}

.progressCircle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    position: relative;
    mask-image: url("../../assets/progress.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

@media (max-width: 1400px) {
    .resultBox{
        scale: .75;
    }
}