.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/star-bg.jpg');
    background-size: cover;
    background-position: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.resultBox{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 530px;
    padding: 50px;
    border-radius: 30px;
}