.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.uploadBox {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 430px;
    padding: 50px;
    border-radius: 30px;
}

.uploadBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.uploadBox p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.uploadBox img {
    margin-bottom: 60px;
}

.uploadedBox{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 120px;
    padding: 0 50px;
    border-radius: 40px;
    border: 1px solid rgba(218, 218, 218, 0.9);
}

.uploadedBox h1{
    font-size: 25px;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .uploadBox {
        scale: .75;
    }
    .container h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }
}

@media (max-width: 700px) {
    .uploadBox {
        scale: .5;
    }
    .container h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
}
