.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    z-index: 1;
}

.bgStar {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #9897FB, #cccccc, #1452F7);
    background-size: 200% 100%;
    width: 100%;
    height: 100%;
    mask-image: url('../../assets/AIStar.png');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    z-index: 0;
    animation: shine 10s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.uploadContainer {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(218, 218, 218, 0.9);
    height: 520px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: height 0.3s ease-in-out;
}

.uploadContainer.expanded {
    height: 120px;
}

.uploadBox {
    /* background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px); */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    /* padding: 50px; */
    /* border-radius: 30px; */
}

.uploadBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.uploadBox p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.uploadBox img {
    margin-bottom: 60px;
}

.uploadedBox {
    /* background: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(20px); */
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 120px;
    padding: 0 50px;
    /* border-radius: 40px; */

}

.uploadedBox h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.uploadedBox Button {
    width: 200px;
}

@media (max-width: 1400px) {
    .uploadContainer {
        scale: .75;
    }

    .container>h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }
}

@media (max-width: 700px) {
    .uploadContainer {
        scale: .5;
        /* margin-top: -25%;     */
    }

    .uploadBox{
        scale:1;
    }

    .uploadBox button{
        scale: 1;
    }
    .container h1 {
        font-size: 25px;
        overflow: hidden;
        margin-bottom: 0px;
    }

    .container{
        padding-top: 5vh;
    }
}